/* Los estilos de tu proyecto */

body {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: 'Raleway', sans-serif;
  /* color: white; */
  font-size: 16px;
  font-weight: 500;
}

.white {
  color: white;
}

.letter-style {
  color: white;
}

.navbar.navbar-default.head {
  margin: 0px;
}

.logo {
  padding: 10px;
}

.first-image {
  background-image: url(../assets/images/taxi.jpg);
  height: 100vh;
  background-size: cover;
  background-position-y: bottom;
}

.navbar-toggle.collapsed.hamburguer {
  float: left;
  margin-left: 10px;
}

hr {
  width: 50px;
}

.square-yellow {
  background-color: #F7B617;
  padding: 30px;
  margin-top: 7%;
}

.second-image {
  background-image: url(../assets/images/conduce.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  margin-top: 0px;
  padding: 30px;
  height: 100vh;
}

/* segundo cuadro amarillo, segunda seccion */

.background {
  background-color: #F7B617;
  height: auto;
  padding: 30px;
}

.line {
  border: 1px solid white;
  border-left: 0px;
  padding: 30px;
}

iframe {
  outline: 1px solid white;
  padding: 10px;
}

.btn.button {
  background-color: #f7b617;
}

.form-control.input {
  background-color: #f7b617;
  color: white;
}

.bold {
  font-weight: bolder;
}

footer {
  background-color: #2B2B2B;
  height: auto;
  padding: 30px;
}

li {
  color: white;
}

.paddin {
  padding: 30px;
}

.plataforms {
  margin: 10px;
}

.left {
  margin-left: 17px;
  margin-top: 20px;
}

.margin-input {
  margin: 5px 0px;
}

.control-label {
  color: black;
  margin-left: 15px;
}

.mod-color {
  background-color: #a9a9a9;
}

.btn.btn-primary.btn-lg.btn-block.dark {
  background-color: #000000;
}

.col-sm-offset-2.col-sm-10.ruta {
  padding-left: 34px;
}

option {
  font-size: 14px;
}

@media (max-width: 768px) {
  .line {
    border: 1px solid white;
  }
}

@media (min-width: 768px) {
  ul.list-unstyled.apps {
    position: absolute;
    bottom: 2%;
    /* float: right; */
    right: 18%;
  }
}
